@{
    ViewBag.Title = @CRResources.Resources.Support;
}
<h2>@CRResources.Resources.Support</h2>

<address>    
    <abbr title="Phone">P:</abbr>
    +853-62536058
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@