@{
    ViewBag.Title = "2014民間公投 - 網上投票 | Online Voting - Civil Referendum 2014 | A votação on-line - Referendo Civil 2014";
}

<blockquote>
    <p>
        歡迎光臨網上投票
    </p>
    <p>
        Bem-vindo à votação online
    </p>
    <p>
        Welcome to online voting
    </p>
</blockquote>
<hr />
<div class="row">
    <a href='@Url.Action("Chinese","Home")' class="btn btn-lg btn-primary btn-block">中文</a>
</div>
<br />
<div class="row">
    <a href='@Url.Action("Portuguese", "Home")' class="btn btn-lg btn-primary btn-block">Português</a>
</div>
<br />
<div class="row">
    <a href='@Url.Action("English","Home")' class="btn btn-lg btn-primary btn-block">English</a>
</div>

